body {
  margin: 0;
  font-family: monospace;
}

#header {
  /* display: flex; */
  justify-content: center;
  background: #5b9159;
  opacity: .8;
  height: 3rem;
  padding: 1rem;
}

ul.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  justify-content: space-evenly;
  background-color: #528850;
}

#org-collection {
  margin: 2rem;
}

.card {
  text-align: center;
  border: grey solid 1px;
  padding: 1rem;
  width: 15rem;
  height: 25rem;
  display: inline-grid;
  margin: 1rem 2rem;
  box-shadow: 3px 4px #e9dfe0
}

.organization-image {
  justify-self: center;
  height: 14rem;
  width: 14rem;
}

button {
  position: relative;
  background-color: #4b87e0;
  border: none;
  border-radius: 5px;
  height: 3rem;
  width: max-content;
  color: whitesmoke;
  font-size: 18px;
  justify-self: center;
}

.buttonContainer {
  text-align: center;
  padding: 1rem;
}

button:hover {
  background-color: whitesmoke;
  border: #e04b52 solid 1px;
  color: #e04b52;
}

.container {
  padding: 1rem;
  width: stretch;
  height: auto;
  background: #515DA2;
  opacity: .8;
}

.add-toy-form {
  width: 80%
}

.submit {
  position: relative;
  background-color: #e04b52;
  border-radius: 5px;
  height: 2rem;
  width: max-content;
  color: whitesmoke;
  font-size: 18px;
  justify-self: center;
  font-family: monospace;
  margin: 3px;
}

.submit:hover {
  background-color: whitesmoke;
  border: #e04b52 solid 1px;
  color: #e04b52;
}


.input-text {
  border-radius: 5px;
  height: 2rem;
  width: 60%;
  font-size: 18px;
  font-family: monospace;
  margin: 3px;
}

/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100%;
      }
      
      /* Optional: Makes the sample page fill the window. */
      html,
      body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      
      #floating-panel {
        position: absolute;
        top: 10px;
        left: 25%;
        z-index: 5;
        background-color: #fff;
        padding: 5px;
        border: 1px solid #999;
        text-align: center;
        font-family: "Roboto", "sans-serif";
        line-height: 30px;
        padding-left: 10px;
      }

