body {
  margin: 0;
  font-family: monospace;
}

#header {
  display: flex;
  justify-content: center;
  background: #e3e6f7;
  opacity: .8;
  height: 7rem;
  padding: 1rem;
}

#toy-header img {
  height: 6rem;
  width: auto;
}

#organization-collection {
  margin: 2rem;
}

.card {
  text-align: center;
  border: grey solid 1px;
  padding: 1rem;
  width: 15rem;
  height: 25rem;
  display: inline-grid;
  margin: 1rem 2rem;
  box-shadow: 3px 4px #e9dfe0
}

.organization-image {
  justify-self: center;
  height: 14rem;
  width: 14rem;
}

button {
  position: relative;
  background-color: #4b87e0;
  border: none;
  border-radius: 5px;
  height: 3rem;
  width: max-content;
  color: whitesmoke;
  font-size: 18px;
  justify-self: center;
}

.buttonContainer {
  text-align: center;
  padding: 1rem;
}

button:hover {
  background-color: whitesmoke;
  border: #e04b52 solid 1px;
  color: #e04b52;
}

.container {
  padding: 1rem;
  width: stretch;
  height: auto;
  background: #515DA2;
  opacity: .8;
}

.add-toy-form {
  width: 80%
}

.submit {
  position: relative;
  background-color: #e04b52;
  border-radius: 5px;
  height: 2rem;
  width: max-content;
  color: whitesmoke;
  font-size: 18px;
  justify-self: center;
  font-family: monospace;
  margin: 3px;
}

.submit:hover {
  background-color: whitesmoke;
  border: #e04b52 solid 1px;
  color: #e04b52;
}


.input-text {
  border-radius: 5px;
  height: 2rem;
  width: 60%;
  font-size: 18px;
  font-family: monospace;
  margin: 3px;
}

